div {
  max-width: 800px;
  margin: auto;
}

.namebox {
  display: inline-block;
  float: right;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.input-panel {
  padding-top: 25px;
}

img {
  height: 50px;
}

label {
  font: 10px arial, sans-serif;
  display: inline-block;
  width: 60px;
  text-align: right;
}

table {
   border-collapse: collapse;
   width:800px;
   margin: 10px auto;
}
th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
tr:hover {
  background-color: #ddd;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 200px;
  height: 20px;
  padding: 5px 10px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 31px;
  width: 220px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
